# log file directory to tail. This is important so that telegraph can pick up file rotations
LOG_FILE_FOLDER=/var/log/apache2/
LOG_FILE_NAME=catalogue-ssl-access.log

# hostname to report in GA with protocol
HOST_URL=https://catalogue.hakai.org/erddap

# Google analytics
GA_URL=http://www.google-analytics.com/mp/collect
GA_CLIENT_ID
GA_API_SECRET
GA_MEASUREMENT_ID

#sentry cron monitering /
SENTRY_DSN=https://145d7924353454358523550@o56764.ingest.us.sentry.io/450w356346456
SENTRY_ENVIRONMENT=test

